.button {
    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-line-height: 22px;
    -fx-text-align: center;
    -fx-text-fill: #FFFF;

    -fx-cursor: hand;

    -fx-color: #E84910;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color:  #000000;
}

.label{
    -fx-text-fill: #FFFFFF;
}

.text-field {
    -fx-background: #D9D9D9;

    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-line-height: 22px;

    -fx-color: #030202;
}
.password-field {
    -fx-background: #D9D9D9;

    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-font-size: 22px;
    -fx-line-height: 22px;

    -fx-color: #030202;
}

.ScrollPane {
    -fx-border-width: 0;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.VBox {
    -fx-border-width: 0;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

