.label {
    -fx-font-size: 24 st;
    -fx-text-fill: WHITE;
}
.vbox {
    -fx-background-color: #3D445C;
    -fx-pref-width: 400px;
    -fx-border-color: #3D445C;
}
.tableColumn {
    -fx-background-color: #3D445C;
    -fx-text-fill: WHITE;
    -fx-font-size: 12pt;
    -fx-border-width: 1px;
    -fx-border-color: #3D445C;
}
.table-view .column-header > .label {
    -fx-text-fill: WHITE;
}